.DS_Store
.idea
*.log
tmp/
result
nix/changelog
.cache
.std
*-deploy
changelog

# nixago: ignore-linked-files
book.toml
treefmt.toml
data/run*
data/data
# nixago-auto-created: mdbook-build-folder
docs/book/**
docs/publish/**
